*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: #f0ffff;
  color: #222222;
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 32px;
}

.icon {
  font-size: 60px;
  font-weight: bold;
  color: #e0efef;
  line-height: 70px;
}

.links {
  margin-top: 26px;
}

.links a {
  color: #222222;
  text-decoration: underline;
  margin: 0 12px;
  font-size: 18px;
}

.links a:hover,
.links a:focus,
.links a:visited {
  color: inherit;
}
