---
import { Image } from 'astro:assets';
import profileImage from '../assets/profile.jpg';
---

<div>
	<main class="flex grow flex-col gap-y-6 mt-6">
		<div class="grid grid-cols-[70px_1fr] gap-x-6">
			<div></div>
			<div>
				<div class="rounded-full">
					<Image src={profileImage} alt="me" class="object-cover w-28 h-28 rounded-full ring-2 ring-gray-400 ring-offset-2" />
				</div>
				<h1 class="font-bold text-2xl mt-6">
					Prathamesh Salunkhe
				</h1>
			</div>
		</div>

		<div class="grid grid-cols-[70px_1fr] gap-x-6 items-baseline">
			<div class="text-right text-sm text-black/40">about</div>
			<div>
				<p>Hey 👋</p>
				<p>I'm a software engineer based in Mumbai, India. </p>
				<p>I have been building software for over a decade, and currently working in FinTech with Upstox.</p>
			</div>
		</div>

		<div class="grid grid-cols-[70px_1fr] gap-x-6 items-baseline">
			<div class="text-right text-sm text-black/40">socials</div>
			<div>
				<div class="flex gap-x-4">
					<a href="https://github.com/prth" target="_blank">Github</a>
					<a href="https://www.linkedin.com/in/prathameshsalunkhe" target="_blank">Linkedin</a>
					<a href="https://x.com/prthsalunkhe" target="_blank">X</a>
				</div>
			</div>
		</div>
	</main>
</div>

<style>
</style>
